body, p {
    padding: 0;
    margin: 0;
}
body {
  background: rgb(122, 206, 212);
}
root {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    /* background: rgb(122, 206, 212); */
}
.logo {
    position: absolute;
    width: 89px;
    height: 47px;
    top: 4%;
    left: 7%;
    background-image: url(../assets/logo.svg);
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 
}
.current-and-saved-cities-inf,
.search-and-details {
  display: flex;
  flex-direction: column;
}
.current-and-saved-cities-inf {
  width: 50%;
  margin-top: 11%;
}
.search-and-details {
  width: 40%;
  margin-top: 2%;
}

.main-information {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 36px;
    order: 2;
}
.cities-saved {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  height: 38%;
  order: 1;
}
.city-saved-container {
  display: flex;
  gap: 9px;
  width: 219px;
  height: 42px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 5px;
  cursor: pointer;
  position: relative;
  /* display: none; */
}
.weather-icon{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.rain {
  background-image: url('../assets/rain.png');
}
.snow {
  background-image: url('../assets/snow.png');
}
.cloud {
  background-image: url('../assets/cloud.png');
}
.sun {
  background-image: url('../assets/sun.png');
}
.cities-saved-weather-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.city-saved-container:hover {
  border-bottom: 2px solid white;
}
.city-saved-name {
  display: flex;
  width: 111%;
  justify-content: space-between;
  align-items: center;
}
.city-saved-name > p {
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
  text-align: left;
  color: white;
}
.city-saved-inf {
  display: flex;
  gap: 9px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  color: white;
}
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  color: white;
  position: absolute;
  top: 11px;
  right: 8px;
}
.delete:hover {
  border: 2px solid white;
}
.side-information {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);

}
.temp {
    width: 42%;
    font-family: Roboto;
    font-size: 143px;
    font-weight: 400;
    text-align: left;
    color: white;
}
.location-date-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%;
}
.location {
    font-family: Roboto;
    font-size: 65px;
    font-weight: 400;
    text-align: left;
    color: white;
}
.time-date {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: white;
}
form {
    position: relative;
    width: 65%;
    margin: 0 auto;
    background: transparent;
  }
  input, button {
    border: none;
    outline: none;
    background: transparent;
  }
  input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    border-bottom: 2px solid white;
    color: white;
  }
  input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  button {
    background-image: url('../assets/fa_search\ \(1\).svg');
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .weather-by-searching {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    color: white;
    padding: 20px 0 20px 90px;
  }
  .weather-details {
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding: 20px 78px 20px 90px;
  }
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: white;
  }
  .line {
    background-color: white;
    width: 66%;
    height: 2px;
    margin: 0 auto;
  }
  .data-details {
    display: flex;
    align-items: center;
    gap: 20px;
  }
@media (max-width: 944px) {
  main {
    flex-direction: column;
    flex-wrap: unset;
    margin-top: 6%;
  }
  .current-and-saved-cities-inf {
    margin: auto;
    width: 77%;
  }
  .search-and-details {
  margin: 2% 20%;
  width: 50%;
  }
}
@media (max-width: 867px) {
  .logo {
    top: 1%
  }
  .main-information {
    order: 0;
  }
  .current-and-saved-cities-inf {
    width: 61%;
    height: fit-content;
  }
  .cities-saved {
    height: 67%;
  }
  .search-and-details {
    height: 81%;
    margin-top: 43px;
  }
}
@media (max-width: 768px) {
  .current-and-saved-cities-inf {
    width: 72%;
    margin: 79px auto 0 auto;
  }
  .city-saved-container {
    width: 237px;
  }
  .search-and-details {
  height: 82%;
  width: 60%;
  margin: 10px auto;
  }
  .side-information {
  margin-top: 20px;
  }
}
@media (max-width: 654px) {
  .current-and-saved-cities-inf {
    width: 80%;
  }
}
@media (max-width: 572px) {
  .temp {
    width: 27%;
    font-size: 95px;
  }
  .time-date {
    font-size: 15px;
  }
  .current-and-saved-cities-inf {
    width: 89%;
  }
}
@media (max-width: 524px) {
  .current-and-saved-cities-inf {
    width: 94%;
  }
}
@media (max-width: 500px) {
  .city-saved-container {
    margin: auto;
    width: 257px;
    height: 45px;
  }
  .search-and-details {
  width: 94%;
  margin: 10px auto;
  }
  form {
  width: 61%;
  }
  .weather-details {
  gap: 24px;
  }
  details {
  font-size: 18px;
  }
  .data-details {
  gap: 9px;
  }
  .weather-by-searching {
  font-size: 19px;
  padding: 17px 0 20px 49px;
  }
  form {
  margin: 20px auto;
  }
  .cities-saved {
  margin-top: 17px;
  }
  .main-information {
  margin: auto;
  margin-top: 10px;
  }
}
@media (max-width: 406px) {
  root {
  width: 406px;
  }
 .temp {
  width: 29%;
  font-size: 78px;
  }
  .time-date {
  font-size: 13px;
  }
  .location {
  font-size: 44px;
  }
}
